/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

body {
	height: auto;
	margin: auto;
/*	position: absolute;*/
	text-align: center;
}

.field, .label 	{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;	
}

.f {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

#cover_image {
	margin: auto;
	margin-top: -10px;
}


#menu_wrapper {
	height: 60px;
	position: absolute;

}

.product_wrapper {
/*	position: absolute;*/
	width: 60%;
	height: auto;
	margin: auto;
	text-align: justify;
	font-size: 150px;
}

.product_holder {
	display: inline-block;
/*	margin-bottom: -50%;*/
}

.product_wrapper:after {
	content: " ";
/*	width: 100%;*/
	display: inline-block;
}

#product_image {
/*	padding-top: 15%;*/
	display: inline-block;
	vertical-align: top;

}

#product_description {
/*	padding-top: 15%;*/
	display: inline-block;
	padding-left: 10%;
	text-align: left;
	vertical-align: top;


}

