/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: black;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

/*body {
	height: auto;
}*/

.field, .label 	{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;	
}

.f {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

#cover_image {
	width: 946px;
	display: absolute;
	margin: auto;
	margin-top: -10px;
}


#menu_wrapper {
	height: 60px;

}


.product_wrapper {
	width: 900px;
	height: auto;
	margin: auto;
	text-align: justify;
	font-size: 150px;
}

.product_holder {
	display: inline-block;
/*	margin-bottom: -50%;*/
}

.product_wrapper:after {
	content: " ";
	width: 100%;
	display: inline-block;
}

