// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

.field, .label 	{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;	
}

.f {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}